<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Better Y Signup</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
            $('#eventsTable').DataTable();
        } );
    </script>  
</head>

<body>
    <form action="/spawnlings">
        <label for="times">Time:</label>
        <select name="times" id="times">
            <option value="">Indifferent</option>
            <option value="5:00am-5:30am">5:00am</option>
            <option value="5:30am-6:00am">5:30am</option>
            <option value="6:00am-6:30am">6:00am</option>
            <option value="6:30am-7:00am">6:30am</option>
            <option value="7:00am-7:30am">7:00am</option>
            <option value="7:30am-8:00am">7:30am</option>
            <option value="8:00am-8:30am">8:00am</option>
            <option value="8:30am-9:00am">8:30am</option>
            <option value="9:00am-9:30am">9:00am</option>
            <option value="9:30am-10:00am">9:30am</option>
            <option value="10:00am-10:30am">10:00am</option>
            <option value="10:30am-11:00am">10:30am</option>
            <option value="11:00am-11:30am">11:00am</option>
            <option value="11:30am-12:00pm">11:30am</option>
            <option value="12:00pm-12:30pm">12:00pm</option>
            <option value="12:30pm-1:00pm">12:30pm</option>
            <option value="1:00pm-1:30pm">1:00pm</option>
            <option value="1:30pm-2:00pm">1:30pm</option>
            <option value="2:00pm-2:30pm">2:00pm</option>
            <option value="2:30pm-3:00pm">2:30pm</option>
            <option value="3:00pm-3:30pm">3:00pm</option>
            <option value="3:30pm-4:00pm">3:30pm</option>
            <option value="4:00pm-4:30pm">4:00pm</option>
            <option value="4:30pm-5:00pm">4:30pm</option>
            <option value="5:00pm-5:30pm">5:00pm</option>
            <option value="5:30pm-6:00pm">5:30pm</option>
            <option value="6:00pm-6:30pm">6:00pm</option>
            <option value="6:30pm-7:00pm">6:30pm</option>
            <option value="7:00pm-7:30pm">7:00pm</option>
            <option value="7:30pm-8:00pm">7:30pm</option>
            <option value="8:00pm-8:30pm">8:00pm</option>
            <option value="8:30pm-9:00pm">8:30pm</option>
            <option value="9:00pm-9:30pm">9:00pm</option>
            <option value="9:30pm-10:00pm">9:30pm</option>
            <option value="10:00pm-10:30pm">10:00pm</option>
            <option value="10:30pm-11:00pm">10:30pm</option>
            <option value="11:00pm-11:30pm">11:00pm</option>
            <option value="11:30pm-12:00am">11:30pm</option>
        </select>
        <label for="studios">Location:</label>
        <select name="studios" id="studios">
            <option value="Boldt Pool">Boldt Pool</option>
            <option value="Meter Pool">Meter Pool</option>
            <option value="Yard Pool">Yard Pool</option>
        </select>
        <label for="openSlots">Minimum open slots:</label>
        <select name="openSlots" id="openSlots">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>6</option>
        </select>
        <br><br>
        <label>Default search range is 48 hours. Note: You can only register for events less than 48 hours away</label><br>
        <label for="days">Begin Date:</label>
        <input name="beginDate" id="beginDate" type="date">
        <label for="days">End Date:</label>
        <input name="endDate" id="endDate" type="date">
        <br><br>
        <label for="titles">Activity:</label>
        <select name="titles" id="titles">
            <option selected value="Lap/Fitness Lane Reservation">Lap/Fitness Lane Reservation</option>
        </select>
        <label for="categories">Category:</label>
        <select name="categories" id="categories">
            <option selected value="Open Schedules (i.e., pool, gym, gymnastics)">Open Schedules (i.e., pool, gym, gymnastics)</option>
        </select>
        <br><br>

        <input type="submit" value="Search">
        <br><br>
    </form>
    <form action="/">
        <input type="submit" value="Clear">
    </form>
    <br><br>
    <table id="eventsTable">
        <thead>
            <tr>
                <th></th>
                <th>Day</th>
                <th>Date</th>
                <th>Time</th>
                <th>Open Slots</th>
                <th>Studio</th>
                <th>Location</th>
                <th>Title</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for event in data %}
            <tr>
                <td><a href={{event.signUpURL}}>Sign Up</a></td>
                <td>{{event.day}}</td>
                <td>{{event.date}}</td>
                <td>{{event.time}}</td>
                <td>{{event.openSlots}}</td>
                <td>{{event.studio}}</td>
                <td>{{event.location}}</td>
                <td>{{event.title}}</td>
                <td>{{event.category}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>